@media screen and (max-width:1024px) {
    .head_banner {
        padding: 50px 0;
    }
    .container {
        max-width: 95%
    }
    .scrollup {
    	bottom:85px
    }
}

@media screen and (max-width:960px) {
    .tab-content p {
        padding-right: 0
    }
    .header ul li {
        padding-left:0
    }
   .navbar-expand-lg .navbar-nav .nav-link.active::before {opacity:0}

}

@media screen and (max-width:768px) {
   
    .tab-content h3 {
        margin-bottom: 20px
    }
    .btn-primary {
        margin: 0
    }
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7 {
        padding: 40px 0;
    }
    .title_outer {
        margin-bottom: 25px;
        padding: 0 10px;
    }
    .title_outer h3 {
        font-size: 30px
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        padding-bottom: 10px;
    }
    .navbar-collapse {
        margin-top: 20px
    }
}

@media screen and (max-width:720px) {
    .banner_content {
        text-align: center;
        float: none
    }
    .banner_content img {
        float: none
    }
    .trial {
        float: none
    }
    .btn-info {
        float: none
    }
    .header_line {
        display: inline-block;
        float: none;
    }
    .banner_content p {
        float: none;
    }
}

@media screen and (max-width:568px) {
   .section2 .nav-link {
        padding: 20px 0;
    }
    .rounded-circle {
        margin-bottom: 15px
    }
    .tab_inner {
        margin-bottom: 30px;
    }
    .tab_inner:last-child {
        margin-bottom: 0px;
    }
    .flex-column {
        margin-bottom: 30px;
    }
    .section2 {
        text-align: center;
    }
    .section2 .nav {
        justify-content: center;
    }
    .carousel-caption h1 {
        font-size: 24px;
    }
    .carousel-caption p {
        font-size: 13px
    }
    .header {
        padding:10px 0;
    }
    .section1 {
        margin-top:76px;
    }
}

@media screen and (max-width:430px) {
    .trial {
        float: none
    }
    .socialsites a {
        margin-right: 20px
    }
    .trial_title {
        padding: 15px 30px;
    }
    .card_outer {
        margin: 30px;
    }
    .nav-tabs {
        margin-bottom: 20px;
    }
    .skyline {
        margin-top: 40px;
    }
    .banner_content h1 {
        font-size: 26px
    }
    .banner_content p {
        font-size: 14px
    }
    .trial .form-group {
        margin-bottom: 25px;
    }
    textarea.form-control {
        padding-bottom: 0px;
    }
    .carousel-indicators {
        margin-bottom: 0
    }
}

@media screen and (max-width:320px) {
    .trial_title {
        padding: 15px 5px;
    }
   .section2 .nav-link {
        padding: 10px 0;
        width: 87px
    }
    .title_outer h3 {
        font-size: 25px;
    }
    .card-header h4 {
        font-size: 18px;
    }
    h1.card-title {
        font-size: 84px;
    }
    ul.list-unstyled li {
        font-size: 12px;
    }
    .socialsites a {
        margin-right: 17px;
    }
    .card_outer {
        margin: 15px;
    }
      .carousel-caption h1 {
        font-size: 20px;
    }
    .carousel-caption p {
        font-size: 12px
    }
}