@font-face {
    font-family: 'Museo 900';
    src: url('Museo900-Regular.eot');
    src: url('Museo900-Regular.eot?#iefix') format('embedded-opentype'),
        url('Museo900-Regular.woff2') format('woff2'),
        url('Museo900-Regular.woff') format('woff'),
        url('Museo900-Regular.ttf') format('truetype'),
        url('Museo900-Regular.svg#Museo900-Regular') format('svg');
    font-weight: 900;
    font-style: normal;
}

